{% extends "layout.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
<div class="w-100 h-50 d-flex justify-content-center">
<div class="w-100 col-sm-12 col-md-6 col-lg-6   rounded-3 shadow-md mt-2 p-4" style="height:828px;">
{% if message %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endif %}
<h3 class="fs-5 fw-bold">Add Category</h1>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>


</div>
</div>
{% endblock %}